# Build output
build/

# Visual Studio artifacts
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp

# Visual Studio user files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json